{
    "branches": ["master"],
    "repositoryUrl": "https://github.com/rmi22186/rob-changelog-release-test",
    "tagFormat": "v${version}",
    "plugins": [
        ["@semantic-release/commit-analyzer"],
        ["@semantic-release/release-notes-generator", {
            "repository": "custom-repo",
            "owner": "custom-owner"
        }],
        ["@semantic-release/changelog", {"changelogFile": "CHANGELOG.md"}],
        ["@semantic-release/exec", {
            "analyzeCommitsCmd": "./release.sh ${nextRelease}",
        }]
    ],
    "ci": false
}